.imgCar {
  border-radius: 14px;
  object-fit: cover;
  margin-bottom: 16px;
}
.carInfoBtn {
  width: 276px;
  margin-top: 28px;
  line-height: 1.25;
}

.namePriceWrap {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
  margin-bottom: 8px;
}
.carTitle {
  font-size: 16px;
  color: var(--main);
  font-weight: 500;
}
.carTitle span {
  color: var(--button);
}

.descriptionCar span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--gray);
  position: relative;
  padding-right: 6px;
  margin-right: 6px;
}
.descriptionCar span::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background-color: var(--gray-light);
}
.descriptionCar span:last-child::after {
  display: none;
}
